h3{
    color:aquamarine; 
    background-color:bisque;
}

#tieude-1{
    background-color: green;
}

.tieude-2{
    color: yellow;
    background-color: red;
}

div.web4{
    color: red;
    background-color: blue;
}