body{
    background-color: #1C1B20; 
    color: white;   
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: black;
}
.danh-sach-muc{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

.lien-ket-muc{
    text-decoration: none;
    color: #BCBBBF;
}

.dang-chon{
    background-color:#4C4B51;
    color: white;
}

.muc{
    padding: 10px 20px;
    border-radius: 20px;
}

.logo{
    width: 5%;
}

.avata{
    width: 50px;
    border-radius: 10px;
}

.muc:hover{
    background-color: grey;
}

.banner{
    width: 90%;
    /* background-color: red; */
    margin: 20px auto;
}

.banner-img{
    width: 100%;
    border-radius: 20px;
}

.the-loai{
    width: 90%;
    height: 20vh;
    /* background-color: red; */
    margin: 10px auto;
}

.danh-sach-phim{
    display: flex;
    justify-content: space-between;
}

.phim{
    width: 19%;
    height: 20vh;
    /* background-color: blue; */

    img{
        width: 100%;
        border-radius: 20px;
    }
}

.nhan-vat{
    width: 19%;
    height: 20vh;
    gap: 10px;

    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

footer{
    color: grey;
    padding: 40px;
}

.danh-sach-mo-ta{
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
}