header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
    align-items: center;
    background-color: rgb(0, 0, 21);
    font-family: arial;
    border-bottom: 1px solid white;
    margin: 10px 10px 0px 10px;

}

.danh-sach-muc{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
}
.muc{
    color: white;
    list-style: none;
}

.logo{
    width: 5%;
    height: auto;
    padding: 10px 0;
}

.anh-muc-mua{
    width: 100px;
    height: auto;
    border-radius: 1px;
    display: flex;
    justify-content:flex-end;
}

body{
    background-color: rgb(0, 0, 21);
}
.banner{
    width: 50%;
    margin: 50px auto;
}

.banner-img{
    width: 100%;
    border-radius: 20px;
}

.avata{
    width: 50px;
    border-radius: 10px;
}

h3{
    color: white;
    font-family: arial;
    margin: 0px 0px 12px 20px;
}

.danh-sach-kenh{
    display: flex;
    align-items:center;
    gap: 10px;
    margin: 20px;
}

.ten-kenh{
    width: 19%;
    background-color: #4C4B51;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px auto;
}

.ten-kenh:hover{
    background-color:#BCBBBF;
}

.lien-ket-muc{
    text-decoration: none;
    color: #a8a8a8;
}

.banner-img{
    width: 100%;
    border-radius: 20px;
}
